services:
  frontend:
    container_name: compose-frontend
    build:
      context: ./compose/ember
      dockerfile: Dockerfile
      args:
        VITE_EMAIL_API_URL: http://localhost:8080
    ports:
      - "8081:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
