<div class="login-page">
  <div class="login-card">
    <h1 class="login-title">Acessar painel de e-mails</h1>
    <p class="login-subtitle">
      Use sua conta do Google para entrar.
    </p>

    <button
      type="button"
      class="google-btn"
      {{on "click" this.login}}
      aria-label="Entrar com Google"
    >
      <span class="google-btn__icon">
        <span class="google-g">G</span>
      </span>
      <span class="google-btn__label">
        Entrar com o Google
      </span>
    </button>
  </div>
</div>
